body{
    /* background: rgb(95, 91, 99); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    width: 500px;
    height:100px;
 color: white;
    font-size:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
